.img-blur{
    filter: blur(2px);
}
.forgot-text{
    font-size: 0.8rem;
}
.login-text{
    font-size: 1.3rem;
}

.font-color{
    color: #7067CF;
}

.btn-submit{
    background-color: #7067CF;
    color:white;
}
.btn-submit:hover{
    background-color: white;
    color: #7067CF;
    border: solid 2px #7067CF;
}


.frosted-glass{
    background: rgba(255, 255, 255, 0.301);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}