.overlay {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

/* .navbar{
  background-color: rgb(247, 243, 243);
} */

h1{
  color: white;
}

.nav-site-name{
  text-decoration: none;
  color: #100f0f;
}

.img-resize{
  width:50px;
}

.ls-btn{
  background-color: rgb(39, 39, 39);
  color: white;
  border-radius: 2px;
}
.ls-btn:hover{
  background-color: white;
  color: black;
  border: solid 2px black;
}